@charset "utf-8";
/*reset*/
body,button,input,select,textarea{font:12px/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei";}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:100%;}
* html,* html body/* 修正IE6振动bug */{background-attachment:fixed;}
em,i{font-style:normal;}
ol,ul,dl{list-style:none;}

/* 表格----------------------------------------------------------*/
table{border-collapse:collapse;border-spacing:0;width:100%;}
table td{vertical-align:top;}
table th{white-space:nowrap;}

/* 链接----------------------------------------------------------*/
a img{border:0 none;}
a{color:#666;text-decoration:none;outline:none;}
a{/*去掉a标签的虚线框，避免出现奇怪的选中区域*/	blr:expression(this.onFocus = this.blur());}
a:hover{text-decoration:none;}/*为了遨游的极速模式不显下划线，方法换字体或者在a:hover用padding-bottom:1px,可根据需求调整;*/
:focus,*:focus{outline:none 0;noFocusLine:expression(this.onFocus=this.blur());}
/* 1. 纠正所有浏览器中非继承的字体大小 2. 删除 FF3/4 S5 Chrome 中的边距 3. 定义在所有浏览器中一致地垂直对齐显示 */
body,html{width:100%;}
button,input,select,textarea{font-size:14px;margin:0;vertical-align:baseline;*vertical-align:middle;}
/*input*/
/*inputåˆ’è¿‡å’ŒæŒ‰ä¸‹é»˜è®¤æ ·å¼*/
input[type="text"]:hover,input[type="password"]:hover,textarea:hover,select:hover{
	border:1px solid #b9b9b9;
	border-top-color:#a0a0a0;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	border-image:initial;
	}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus,select:focus{border:1px solid #74b9ef;color:#222;
	-moz-box-shadow:0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);
	box-shadow:0 0 3px rgba(0,0,0,.2);}
textarea{border:1px solid #d9d9d9;border-top-color:#c0c0c0;width:170px;padding:2px 4px;outline:none 0;font:16px/1.5 Arial,"Microsoft YaHei",sans-serif;color:#333;background:#fff;}/* textareaçš„é»˜è®¤æ ·å¼ç¼–è¾‘ */
textarea:hover{border:1px solid #b9b9b9;border-top-color:#a0a0a0;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	border-image:initial;}
textarea:focus{border:1px solid #74b9ef;color:#444;
	-moz-box-shadow:0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);
	box-shadow:0 0 3px rgba(0,0,0,.2);}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
input::-webkit-input-placeholder{color:#c0c0c0;}
input::-moz-placeholder{color:#c0c0c0;opacity:1;font-family:"\5b8b\4f53";}
input:-ms-input-placeholder{color:#c0c0c0;}
input::placeholder{color:#c0c0c0;}
/*解决高度塌陷*/
.clear-fix{zoom:1;} 
.clear-fix:after{ content:'';display:block; height:0;font-size:0; clear:both;overflow:hidden;}

.padB_20{padding-bottom:20px;} 
.marT_20{margin-top:20px;}
.float_left{float:left;}
.float_right{float:right;}
.marR_30{margin-right:30px;}
.marT_50{margin-top:50px;}
.marT_30{margin-top:30px;}
.marB_75{margin-bottom:75px;}
.position_relative{position:relative;}
.padding0_30{padding:0 30px;}
.marB_9{margin-bottom:9px;}
.marL_30{margin-left:30px;}
.marT_10{margin-top:10px;}
