<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        技工、特种工、七大员、三类人员考试培训
    </title>
    <script src="{{STATIC_URL}}register/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>


    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}register/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}register/css/91style.css"/>

    <script type="text/javascript" src="{{STATIC_URL}}register/js/top.js"></script>
    <link href="{{STATIC_URL}}register/css/zckefu.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{STATIC_URL}}register/js/public.js"></script>
    <script src="{{STATIC_URL}}register/js/showqq.js" type="text/javascript" charset="gb2312"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}register/index_files/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}register/index_files/index.css"/>
</head>
<body>
<form>
    <div class="aspNetHidden">
    </div>


    <div class="container clear-fix">
        <div class="wrap clear-fix">
            <div class="banner">
                <a class="banner_sign_up div_sign_up_show" title="立即报名" data-sub-val="0" data-signup='true'>立即报名</a>
                <script>CBI360_QQM('1042', '0', '', 'banner_consultation');</script>
                <img src="{{STATIC_URL}}register/kzwy/banner-1.jpg" alt="立即报名"/>
            </div>
            <div class="clear-fix">
                <h1 class="exam_kinds">【报考分类】</h1>
            </div>
            <div class="padding0_30" >
                <div id="text-content">

                </div>
                <div class="sign_up">
                    <a href="javascript:;" class="sign_up_btn div_sign_up_show" title="立即报名" data-sub-val="0"
                       data-signup="true"></a>
                    <img src="{{STATIC_URL}}register/kzwy/sign_up.png"/>
                </div>
                <div class="clear-fix phone" style="padding-bottom:6px;">
                    <div class="phone_teach" style="margin-top:22px;">
                        报名请联系：肖老师
                    </div>
                    <div class="phone_ico" style="margin-top:21px;">
                        <img src="{{STATIC_URL}}register/kzwy/ico_phone.png" alt="手机"/>
                        <span>0571-56234830</span>
                    </div>
                    <div class="phone_ico_qq">
                        <script>CBI360_QQM('1018', '0', '', '');</script>
                        <span><script>CBI360_QQM('1018', '', '', '');</script></span>
                    </div>
                    <div class="phone_ico_qq">
                        <script>CBI360_QQM('1019', '0', '', '');</script>
                        <span><script>CBI360_QQM('1019', '', '', '');</script></span>
                    </div>
                    <div class="phone_ico_qq marR_0">
                        <script>CBI360_QQM('1042', '0', '', '');</script>
                        <span><script>CBI360_QQM('1042', '', '', '');</script></span>
                    </div>
                    <div class="phone_ico_qq" style="margin-top:-26px;">
                        <script>CBI360_QQM('1043', '0', '', '');</script>
                        <span style="left:355px" ;><script>CBI360_QQM('1043', '', '', '');</script></span>
                    </div>
                    <div class="phone_ico_qq marR_0" style="margin-top:-26px;">
                        <script>CBI360_QQM('1008', '0', '', '');</script>
                        <span><script>CBI360_QQM('1008', '', '', '');</script></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footbg footlink">


        <div class="footbg footlink" style="padding-bottom:40px;">
            <div class="contall">
                <div class="foot" style="margin: 0 auto;float: none;">
                    <p class="xx_footbg_p"><a target="_blank" href="http://www.zhonghesoft.com/Contact.aspx">关于我们</a>
                        |<a target="_blank" href="http://www.zhonghesoft.com/Contact.aspx">联系我们</a>|<a target="_blank"
                                                                                                       href="http://www.zhonghesoft.com/case.aspx">客户案例</a>|<a
                                target="_blank" href="http://www.zhonghesoft.com/cooperation.aspx">代理合作</a>
                    </p>
                    <p id="p_ybfood2" class="xx_footspanpa">浙B2-20080280号 Copyright © 2015 zhonghesoft.com. All Rights
                        Reserved 版权所有：杭州筑业软件有限公司</p>
                    <p>
                        <a href="http://www.pingpinganan.gov.cn/" target="_blank" title="网络警察 报警平台">
                            <img src="{{STATIC_URL}}register/index_files/61_10.gif" width="109" height="47" alt="网络警察 报警平台">
                        </a>
                        <a href="http://www.pingpinganan.gov.cn/" target="_blank" title="公共信息安全网络监察">
                            <img src="{{STATIC_URL}}register/index_files/61_11.gif" width="109" height="47" alt="公共信息安全网络监察">
                        </a>
                        <a href="http://net.china.com.cn/index.htm" target="_blank" title="不良信息举报中心">
                            <img src="{{STATIC_URL}}register/index_files/61_12.gif" width="109" height="47" alt="不良信息举报中心">
                        </a>
                    </p>
                </div>
            </div>
        </div>


    </div>


    <script src="{{STATIC_URL}}register/index_files/jquery.select.js" type="text/javascript" charset="utf-8"></script>

    <script src="{{STATIC_URL}}register/index_files/layer.js"></script>
    <script src="{{STATIC_URL}}register/js/MTimer.js"></script>

    <div id="div_shade"
         style="position: fixed; _position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); background-position: initial initial; background-repeat: initial initial; background: #000; opacity: .3; filter: 'alpha(opacity=30)'; filter: alpha(opacity=30);"></div>
    <!--报名框-->
    <div class="div_sign_up clear-fix">
        <div class="div_close_sign_up">
            x
        </div>
        <div class="div_exam_kind clear-fix">
            <p><span>*&nbsp;</span>&nbsp;报考类型</p>
            <select name="state" class="select" id="sel_sub_id">
                <option value="0" class="sel_option">请选择报考的证书类别</option>

            </select>
        </div>
        <div class="div_exam_kind clear-fix">
            <p><span>&nbsp;&nbsp;</span>&nbsp;备  注</p>
            <textarea class="exam_tea" placeholder="报考科目，报考人数等" id="txt_remark"></textarea>
        </div>
        <div class="div_exam_kind marT_10 clear-fix">
            <p><span>*&nbsp;</span>&nbsp;<label for="txt_name">姓  名</label></p>
            <input type="text" name="txt_userName" id="txt_name" class="txt_userName" maxlength="10" placeholder="请输入姓名"
                   data-rule=" " required="">
        </div>
        <div class="div_exam_kind marT_10 clear-fix">
            <p>
                <span>*&nbsp;</span>&nbsp;<label for="txt_phone">手机号码</label>
            </p>
            <input type="text" name="txt_userPhone" id="txt_phone" class="txt_userName" maxlength="11"
                   placeholder="请输入手机号" required="">
        </div>
        <div class="div_exam_kind marT_10 clear-fix">
            <p><span>&nbsp;&nbsp;</span>&nbsp;&nbsp;<label for="txt_imgCode">验&nbsp;证&nbsp;码</label></p>
            <input type="text" name="txt_Code" id="txt_imgCode" class="txt_messageCode" value="" placeholder="请输入验证码"
                   required="">
            <div class="imgcode_span">
                <input type="button" id="imgValidCode" onclick="createCode()"/>
            </div>
        </div>

        <div class="div_exam_kind marT_10 clear-fix">
            <p> </p>
            <div class="div_sign_up_btn" id="btn_submit">
                报  名
            </div>
        </div>
    </div>

    <div id="onlineqq" class="float0831">
        <div class="floatL">
            <a style="display: none" id="aFloatTools_Show" class="btnOpen" title="查看在线客服" onclick="show_0831()"
               href="javascript:void(0);">展开</a>
            <a id="aFloatTools_Hide" class="btnCtn " title="关闭在线客服" onclick="hide_0831()"
               href="javascript:void(0);">收缩</a>
        </div>
        <div id="divFloatToolsView" class="floatR">
            <div class="floattp"></div>
            <div class="floatcn">
                <ul>
                    <li class="floattop">
                        <h3 class="titZx"></h3>
                    </li>
                    <li>
                        <script>CBI360_QQM('1019', '', '肖老师', 'icoTc');</script>
                        <a target="_blank" class="icoTc" onclick="KeFuQQButton(&#39;2355258062&#39;);"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2355258062&amp;site=qq&amp;menu=yes">肖老师</a></li>
                    <li>
                        <script>CBI360_QQM('1042', '', '段老师', 'icoTc');</script>
                        <a target="_blank" class="icoTc" onclick="KeFuQQButton(&#39;2355258067&#39;);"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2355258067&amp;site=qq&amp;menu=yes">段老师</a></li>
                    <li>
                        <script>CBI360_QQM('1041', '', '周老师', 'icoTc');</script>
                        <a target="_blank" class="icoTc" onclick="KeFuQQButton(&#39;2355728523&#39;);"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2355728523&amp;site=qq&amp;menu=yes">周老师</a></li>
                    <li>
                        <script>CBI360_QQM('1043', '', '卢老师', 'icoTc');</script>
                        <a target="_blank" class="icoTc" onclick="KeFuQQButton(&#39;2355728527&#39;);"
                           href="http://wpa.qq.com/msgrd?v=3&amp;uin=2355728527&amp;site=qq&amp;menu=yes">卢老师</a></li>
                </ul>
            </div>
            <div class="titDh"></div>
            <div style="color: #cc0000;height:20px;overflow:hidden; width:130px;font-weight: bold; font-size: 14px;float:left; clear:both; text-align:center;">
                0571-56234830
            </div>
            <div class="floatbtom"></div>
        </div>


    </div>


    <script type="text/javascript">
        function getList() {
            var url = location.host;
            $.ajax({
                url: "http://agent.lhxq.top:8080/api/items/all/",
                type: "get",
//                success: function (res) {
//                    console.log(data);
//
//                },
                success:function (res) {
                    if(res.data){
                        var data = res.data
                    }else{
                        var data = res
                    }
                    data.forEach(function (item) {
                        $('#sel_sub_id').append('<option value="' + item.id + '">' + item.name + '</option>')
                    })
                    var text = '';
                    data.forEach(function (item,index) {
                        if(item.name == '技工证'){
                            var childtext = '';


                            item.childrens.forEach(function (child,childindex) {
                                var gransontext = '';
                                child.childrens.forEach(function (grandson) {
                                    gransontext += '<li><a href="subindex.html" target="_blank" title="' +
                                        grandson.name + '"> ' + grandson.name + '</a></li>'

                                })
                                childtext += '<ul class="list_ul clear-fix">'+
                                    '<li class="list_ul_title"><b>' + child.name +'</b> \/\/\/</li>'+  gransontext +
                                    '<li><a href="subindex.html?id='+ item.id +
                                    '" target="_blank" class="list_ul_more" title="更多">更多'+
                                    '&gt;</a></li>'+
                                    '</ul>'
                            })
                            $('#text-content').append('<div class="certificate clear-fix">'+
                                '<div class="certificate_div">'+
                                '<div class="title-type-font">'+ item.name +'</div>'+
                                '</div>'+
                                '<p class="float_right certificate_p">'+
                                '<a class="div_sign_up_show btn_sign_up " title="立即报名" data-sub-val="' + item.id+ '" '+
                                'data-signup="true">立即报名</a>'+
                                '<a class="btn_condition" title="报名条件" href="subindex.html?id='+ item.id +
                                '" target="_blank">报名条件</a>' +
                                '</p>'+
                                '</div>'+'<div class="clear-fix">'+
                                '<div class="list_border">'+
                                '<img src="{{STATIC_URL}}register/kzwy/border_top.png"/>'+
                                '</div>'+
                                '<div class="list clear-fix">' + childtext +
                                '</div>'+
                                '<div class="list_border">'+
                                '<img src="{{STATIC_URL}}register/kzwy/border_bottom.png"/>'+
                                '</div>'+
                                '</div>')
                        }
                        else{
                            var childtext = '';
                            item.childrens.forEach(function (child) {
                                childtext += '<a href="subindex.html?id='+ item.id +'">' + child.name + '</a>'
                            })

                            $('#text-content').append('<div class="certificate clear-fix">'+
                                '<div class="certificate_div">'+
                                '<div class="title-type-font">'+ item.name +'</div>'+
                                '</div>'+
                                '<p class="float_right certificate_p">'+
                                '<a class="div_sign_up_show btn_sign_up " title="立即报名"  data-sub-val="' + item.id+ '" '+
                                'data-signup="true">立即报名</a>'+
                                '<a class="btn_condition" title="报名条件" href="subindex.html?id='+ item.id +
                                '" target="_blank">报名条件</a></p>'+
                                '</div>'+'<div class="clear-fix">'+
                                '<div class="list_border">'+
                                '<img src="{{STATIC_URL}}register/kzwy/border_top.png"/>'+
                                '</div>'+
                                '<div class="list clear-fix">' + '<div class="clear-fix list_kind">'+ childtext +
                                '</div>' +
                                '</div>'+
                                '<div class="list_border">'+
                                '<img src="{{STATIC_URL}}register/kzwy/border_bottom.png"/>'+
                                '</div>'+
                                '</div>')
                        }
                    })

                    $("[data-signup='true']").click(function () {
                        var sub_val = 0;
                        if (typeof($(this).attr("data-sub-val")) != "undefined") {
                            sub_val = $(this).attr("data-sub-val");
                        }
                        $(this).attr("data-sub-val");
                        console.log(sub_val);
                        $("#sel_sub_id").val(sub_val);
                        $("#a_imgcode_change").click();
                        $("#div_shade").fadeIn("200");
                        $(".div_sign_up").fadeIn("500");

                    });



                }
            });
        }


        $(function () {
            getList();
            $("#btn_submit").click(function () {

                var subid = $("#sel_sub_id").val();
                if (subid < 1) {
                    layer.alert("请选择报考类型");
                    return false;
                }


                var remark = $.trim($("#txt_remark").val());
                if (remark.length > 200) {
                    layer.alert("备注不能超过200字");
                    return false;
                }


                var name = $.trim($("#txt_name").val());
                if (name.length == 0) {
                    layer.alert("请输入姓名");
                    return false;
                }
                var phone = $.trim($("#txt_phone").val());
                if (phone.length == 0) {
                    layer.alert("请输入手机");
                    return false;
                }
                if (!isPhone(phone)) {
                    layer.alert("手机号码格式有误");
                    return false;
                }


                //下面就是判断是否== 的代码，无需解释
                var oValue = document.getElementById('txt_imgCode').value.toUpperCase();
                if (oValue == 0) {
                    layer.alert("请输入验证码");
                    return false;
                } else if (oValue != code) {
                    layer.alert('验证码不正确，请重新输入');
                    oValue = ' ';
                    createCode();
                    return false;

                }


                var subject = {};
                subject.item = subid;
                subject.remark = remark;
                subject.name = name;
                subject.tel = phone;
                var submitIndex = layer.load(1, {shade: [0.5, '#fff']});
                $.ajax({
                    url: "http://agent.lhxq.top:8080/api/applays/",
                    type: "post",
                    data: subject,
                    complete: function () {
                        layer.close(submitIndex);
                    },
                    success: function (data) {
                        if (data.code != 1) {
                            layer.alert(data.message);
                            return false;
                        } else {
                            layer.alert(data.message, {
                                end: function (index) {
                                    location.reload();
                                    layer.close(index);
                                }
                            });
                        }
                        return false;
                    },
                    error: function (err) {
                        layer.alert("请检查提交数据的合法性" + "<br />" + err.statusText);
                    }
                });

            });



            $("#sel_sub_id").click(function () {
                var val = $(this).val();
                if (val == 0) {
                    $("#sel_sub_id").addClass("txt_error");
                    return false;
                }
                $("#sel_sub_id").removeClass("txt_error");
                return false;
            });

            $("input[required]").blur(function () {
                var val = $(this).val();
                if (val.length == 0) {
                    $(this).addClass("txt_error");
                    return false;
                }
                $(this).removeClass("txt_error");
                return false;
            });


            $(".div_close_sign_up").click(function () {

                $("#div_shade").fadeOut("500");
                $(".div_sign_up").fadeOut("200");
            });


            $("[data-signup='true']").click(function () {
                var sub_val = 0;
                if (typeof($(this).attr("data-sub-val")) != "undefined") {
                    sub_val = $(this).attr("data-sub-val");
                }
                $(this).attr("data-sub-val");
                $("#sel_sub_id").val(sub_val);
                $("#a_imgcode_change").click();
                $("#div_shade").fadeIn("200");
                $(".div_sign_up").fadeIn("500");

            });


        });
    </script>


    <script>
        var code;
        function createCode() {
            //首先默认code为空字符串
            code = '';
            //设置长度，这里看需求，我这里设置了4
            var codeLength = 4;
            var codeV = document.getElementById('imgValidCode');
            //设置随机字符
            var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
            //循环codeLength 我设置的4就是循环4次
            for (var i = 0; i < codeLength; i++) {
                //设置随机数范围,这设置为0 ~ 36
                var index = Math.floor(Math.random() * 36);
                //字符串拼接 将每次随机的字符 进行拼接
                code += random[index];
            }
            //将拼接好的字符串赋值给展示的Value
            codeV.value = code;
        }

        //设置此处的原因是每次进入界面展示一个随机的验证码，不设置则为空
        window.onload = function () {

            createCode();
        }
    </script>


</form>
</body>
</html>
